body {
    background: linear-gradient(lightcoral, white);
    background-repeat: repeat-x;
}

a:link {
    color: purple;
}

a:visited {
    color: mediumvioletred;
}

a:hover {
    color: mediumorchid;
}

ol li {
    background: linear-gradient(lightpink, lightblue);
    margin-left: 30px;
}

ul li {
    background: linear-gradient(lightpink, lightblue);
    margin-left: 30px;
    margin: 5px;
} 