body {
    background: linear-gradient(lightcoral, white);
    background-repeat: repeat-x;
}

a:link {
    color: purple;
}

a:visited {
    color: mediumvioletred;
}

a:hover {
    color: mediumorchid;
}

ol li {
    margin-left: 30px;
}

ul li {
    margin-left: 30px;
    margin: 5px;
} 

input {
    background: linear-gradient(lightpink, lightblue);
    border: 2px solid blueviolet;
}

textarea {
    box-sizing: border-box;
    border: 2px solid blueviolet;
    background:  linear-gradient(lightpink, lightblue);
    resize: none;
} 

select {
    border: 2px solid blueviolet;
    background: linear-gradient(lightpink, lightblue);
} 