
html {
    background: linear-gradient(to bottom, mistyrose 0%, silver 100%);
    min-height: 100%;
    background-attachment: fixed;
    color: darkslategrey;
    font-family: 'Karma', serif;
}

a {
    margin-left: 25px;
}

h2 {
    margin-left: 20px;
}

h3{
    margin-left: 20px;
}

a:link {
    color: purple;
}

a:visited {
    color: mediumvioletred;
}

a:hover {
    color: mediumorchid;
}

ol li {
    margin-left: 35px;
}

ul li {
    margin-left: 35px;
} 

input {
    background: linear-gradient(mistyrose, gainsboro);
    border: 2px solid cadetblue;
    color: darkslateblue;
    margin-left: 25px;
}

input[type=submit] {
    background: cadetblue;
    border: 2px solid darkcyan;
    color: mistyrose;
    margin-left: 25px;
}

textarea {
    box-sizing: border-box;
    border: 2px solid cadetblue;
    background:  linear-gradient(mistyrose, gainsboro);
    resize: none;
    color: darkslateblue;
    margin-left: 25px;
} 

select {
    border: 2px solid cadetblue;
    background: linear-gradient(mistyrose, gainsboro);
    font-family: 'Karma', serif;
    color: darkslateblue;
    margin-left: 25px;
} 

span #s0, #s1, #s2, #s3, #s4, #s5, #s6 {
    margin-left: 25px;
}

p {
    margin-left: 25px;
}