<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiesovellus</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/styles.css" th:href="@{~/styles.css}" type="text/css" />
    </head>

    <body>
        <h2>Smoothiet</h2>

        <ul>
            <li th:each="smoothie: ${smoothiet}">
                <a th:href="@{'~/smoothie/' + ${smoothie.id}}">
                    <span th:text="${smoothie.nimi}">smoothien nimi</span>
                </a>
            </li>
        </ul><br/>
        
        <h3>Luo ja tarkastele</h3>
        <a href="/smoothiet">Luo uusi smoothie</a><br/>
        <a href="/raakaaineet">Raaka-aineet ja niiden luonti</a>
        
    </body>
</html>