<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiesovellus</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
        <link rel="stylesheet" href="/styles.css" th:href="@{~/styles.css}" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Karma" rel="stylesheet"/> 
    </head>

    <body>
        <h2>Raaka-aineet</h2>

        <ul>
            <li th:each="raakaaine: ${raakaaineet}">
                <a th:href="@{'~/raakaaine/' + ${raakaaine.id}}">
                    <span th:text="${raakaaine.nimi}">raakaaineen nimi</span> 
                </a>
                <form method="POST" action="/raakaaine/delete">
                    <input type="hidden" name="id" th:value="${raakaaine.id}"/>
                    <input type="submit" value="Poista"/>   
                </form>            
            </li>
        </ul> <br/>
        
        <h3>Luo uusi raaka_aine</h3>
        
        <form method="POST" action="/raakaaineet">
            <span id="s6">Nimi: (Huom! nimen tulee olla uniikki)</span><br/>
            <input type="text" name="nimi"  maxlength="30"/><br/><br/>
            <input type="submit" value="Luo raaka-aine"/>
        </form><br/><br/>
        
        <a href="/smoothiet">Siirry smoothielistaan</a><br/>
        <a href="/">Palaa aloitussivulle</a>
        
    </body>
</html>