<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiesovellus</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/styles.css" th:href="@{~/styles.css}" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Karma" rel="stylesheet"/> 
    </head>

    <body>
        <h2><span th:text="${raakaaine.nimi}">Raaka-aineen nimi</span></h2><br/>

        <p>
            <span>Smoothieita, joissa </span>
            <span th:text="${raakaaine.nimi}">raakaaineen nimi</span>
            <span> on raaka-aineena on yhteensä </span>
            <span th:text="${tilasto}">tilasto</span>
            <span>.</span>
        </p>
        
        <p>
            <span>Smothieita on tällä hetkellä yhteensä </span>
            <span th:text="${smoothieita}">yhteensä</span>
            <span>.</span>
        </p><br/><br/><br/>
        
        <a href="/raakaaineet">Luo ja tarkastele raaka-aineita</a><br/>
        <a href="/smoothiet">Luo ja tarkastele smoothieita</a><br/>
        <a href="/">Palaa aloitussivulle</a><br/>
        
    </body>
</html>