<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiesovellus</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2><span th:text="${smoothie.nimi}">Smoothien nimi</span></h2>
        <span>oisko tänne kans luo raaka-aine ja sit eri uudelleen ohjaus loppun?</span><br/>
        
        <ol>
            <li th:each="raakaaine: ${raakaaineetjarjestetty}">
                 <a th:href="@{'~/raakaaine/' + ${raakaaine.raakaAineID}}">
                    <span th:text="${raakaaine.nimi}">raakaaineen nimi</span>
                </a>
                <form method="POST" action="/smoothie/smoothieraakaaine/delete">
                    <input type="hidden" name="raakaAineID" th:value="${raakaaine.raakaAineID}"/>
                    <input type="hidden" name="smoothieID" th:value="${raakaaine.smoothieID}"/>
                    <input type="submit" value="Poista"/>
                </form>
                <ul>
                    <li>
                        <span>Määrä: </span>
                        <span th:text="${raakaaine.maara}">maara</span>
                    </li>
                    <li>
                        <span>Ohje: </span>
                        <span th:text="${raakaaine.ohje}">ohje</span>
                    </li>
                </ul>
            </li>
        </ol><br/>
        
        <h3>
            <span>Lisää raaka-aineita smoothieen</span>
            <span th:text="${smoothie.nimi}">Smoothien nimi</span>
        </h3>
        
        <form method="POST" action="/smoothie/create/smoothieraakaaine">
            <input type="hidden" name="smoothieID" th:value="${smoothie.id}"/>
            
            <span>Raaka-aineen nimi:</span><br/>
            <select name="raakaAineID" size="4">
                <option th:each="raakaaine: ${raakaaineet}" th:value="${raakaaine.id}"
                        th:text="${raakaaine.nimi}">raakaaineen nimi</option>
            </select><br/><br/>
            
            <span>Järjestys:</span><br/>
            <select name="jarjestys" size="4">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select><br/><br/>
            
            <span>Määrä: (esim. 1 dl)</span><br/>
            <input type="text" name="maara"/><br/><br/>
            
            <span>Ohje:</span><br/>
            <textarea name="ohje" rows="6" cols="15"></textarea><br/>
            <br/>
            <input type="submit" value="Lisää raaka-aine"/>
        </form><br/><br/>
        
        <a href="/smoothiet">Smoothiet</a><br/>
        <a href="/raakaaineet">Luo ja tarkastele raaka-aineita</a><br/><br/>
        
    </body>
</html>