<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiesovellus</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
        <link rel="stylesheet" href="/styles.css" th:href="@{~/styles.css}" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Karma" rel="stylesheet"/> 
    </head>

    <body>
        <h2>Smoothiet</h2>

        <ul>
            <li th:each="smoothie: ${smoothiet}">
                <a th:href="@{'~/smoothie/' + ${smoothie.id}}">
                    <span th:text="${smoothie.nimi}">smoothien nimi</span>
                </a>
                <form method="POST" action="/smoothie/delete">
                    <input type="hidden" name="id" th:value="${smoothie.id}"/>
                    <input type="submit" value="Poista"/>   
                </form>
            </li>
        </ul><br/>
        
        <h3>Luo uusi smoothie</h3>
        
        <form method="POST" action="/create/smoothie">
            <span id="s5">Smoothien nimi:  (Huom! tulee olla uniikki)</span><br/>
            <input type="text" name="nimi"/><br/><br/>
            <input type="submit" value="Luo smoothie"/>
        </form><br/>
        
        <a href="/raakaaineet">Tarkastele ja luo raakaaineita</a><br/>
        <a href="/">Palaa aloitussivulle</a>
        <br/><br/>
        
    </body>
</html>